<div class="home-page">
  <app-ncm-carousel #ncmCarousel (changeSlide)="onChangeSlide($event)" [activeIndex]="carouselActiveIndex">
    <nz-carousel #carousel nzAutoPlay nzEffect="fade" [nzDotRender]="ncmCarousel.dotRef"
      (nzBeforeChange)="onBeforeChange($event)">
      <div nz-carousel-content class="carousel-item" *ngFor="let item of bannerList">
        <a [href]="item.url" class="banner-item">
          <img [src]="item.imageUrl" alt="">
        </a>
      </div>
    </nz-carousel>
  </app-ncm-carousel>
  <div class="main-wrapper">
    <div class="left-wrapper">
      <div class="section-hot">
        <div class="section-header">
          <div class="section-navs">
            <h2>
              <i nz-icon nzType="compass" nzTheme="outline"></i>
              <a href="">热门推荐</a>
            </h2>
            <nav>
              <a href="" *ngFor="let item of tagCates">{{ item.name }}</a>
            </nav>
          </div>
          <div class="section-btns">
            <div class="section-btn section-btn-more">
              <a href="">
                <span class="btn-text">更多</span>
                <i nz-icon nzType="arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="section-content">
          <app-show-item *ngFor="let item of rcmLists" [itemData]="item"></app-show-item>
        </div>
      </div>
    </div>
    <div class="right-wrapper">
      <div class="panel panel-singer">
        <h3 class="panel-header">
          <div class="panel-title">入驻歌手</div>
          <div class="panel-btn">
            <a href="" class="btn-text">
              <span>查看全部</span>
              <i nz-icon nzType="right"></i>
            </a>
          </div>
        </h3>
        <div class="panel-content">
          <div class="content-list">
            <app-singer *ngFor="let item of singers" [singerData]="item"></app-singer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
